build/
runtime/
*.log
*.tmp
.cache/
.vscode/
.idea/
compile_commands.json
output/
buildroot-output/
*.ext2
*.ext4
*.img
*.cpio
*.tar
yocto/build/
tmp/
sstate-cache/
downloads/
cache/
*.wic
*.wic.gz
*.rootfs.*
*.manifest
*.testdata.json
